body{

margin:0;
font-family:Arial;
background:#0f172a;
color:white;

}

header{

background:#020617;
padding:15px;
text-align:center;

}

.logo{

font-size:80px;
text-align:center;
margin-top:20px;

}

.menuGrid{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

padding:20px;

}

.menuGrid button{

background:#1e293b;
border:none;
border-radius:15px;

padding:30px;

font-size:22px;
color:white;

}

.menuGrid p{

margin-top:10px;
font-size:14px;

}

.card{

background:#1e293b;
margin:20px;
padding:20px;
border-radius:15px;

}

input,select{

width:100%;
padding:14px;
margin-top:10px;

border:none;
border-radius:10px;

}

button{

width:100%;
padding:14px;
margin-top:10px;

border:none;
border-radius:12px;

background:#22c55e;
color:white;

}

.backBtn{

margin:20px;

background:#475569;

}

.hide{

display:none;

}
